tmp
*.swp
log
config/database.yml
development
.DS_Store
.idea
db/*.sqlite3

Box2dWeb.js

app/assets/javascripts/jasmine_examples
spec/javascripts/jasmine_examples
/public/packs

/node_modules
/vendor/node_modules
