%script{:id => "text_fragment_attack_template", :type => 'text/x-handlebars-template'}
  <div class="text-fragment-attack-wrapper {{ activeClass }} {{ cssClasses }}">
  %span.typed {{ typed }}
  %span.missed {{ missed }}
  %span.rest {{ rest }}
  </div>
