#cr-stage {
  margin: 1em auto;
}

.title {
  text-align: center;
}

.status-bar {
  width: 1080px;
  margin: 0 auto;

  .entity-status {
    display: inline-block;
    width: 300px;
    .name { font-weight: bold; }
  }
}
