.text-fragment {}
.text-fragment-wrapper {
  &.active { background-color: pink; }

  font-size: 2em;
  span.typed { background-color: green; }
  span.missed { background-color: red; }
  span.rest { background-color: yellow; }
}
