.text-fragment {}
.text-fragment-wrapper {
  &.active { 
    z-index: 99999;
    width: 165px;
    background-color: hotpink; 
  }

  float: left;
  text-align: center;
  font-size: 1.0em;
  line-height: 1.2em;
  span.typed { background-color: green; }
  span.missed { background-color: red; }
  span.rest { background-color: yellow; }
}

.slime-text .text-fragment-wrapper {
  font-size: 0.8em;
  font-family: comic-sans;
  background-color: steel-blue;
  span.rest { background-color: skyblue; }
}

.player-text .text-fragment-wrapper {
  span.rest { background-color: salmon; }
}


