.text-fragment {}
.text-fragment-wrapper {
  &.active { 
    z-index: 99999;
    background-color: pink; 
  }

  float: left;
  text-align: center;
  font-size: 1.2em;
  line-height: 1.2em;
  span.typed { background-color: green; }
  span.missed { background-color: red; }
  span.rest { background-color: yellow; }
}

