-# Partial to help render the backbone templates.  Really it's just going to
-# render some arbitrary files.
-# Locals: templates(Array) set of templates to render

- templates.each do |t|
  = render :file => t
